body {
  h1 {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 60px;
    color: #3E424B;
  }

  .firstbt {
    width: 204px;
    height: 48px;
    background: #F5F5F5;
    border: 1px solid #BB8C5F;
  }
}