body {
  h1 {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 60px;
    color: #3E424B;
  }

  .firstbt {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #BB8C5F;
    padding: 10px 16px ;
    background: #F5F5F5;
    border: 1px solid #BB8C5F;
    display: flex;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .firstbt:hover {
    background-color: #524336;
    color: white;
  }

  .firstbt:active {
    background-color: #BB8C5F;
  }

  .button-wrapper {
    width: 818px;
    display: flex;
    justify-content: space-between;
}

}


